<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body style="background-image: url('https://kartinki.pics/uploads/posts/2021-07/thumbs/1626218729_14-kartinkin-com-p-anime-fon-biblioteka-krasivo-16.jpg');
background-repeat: no-repeat; background-size: 100%;">
<div style="border: 3px solid black; width:220px;height: 250px; margin-left:20px; background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_iqcnYVisAFSGcWuJ3go6bnVlHcIje-LTfA&s'); background-repeat:no-repeat; background-size:100%; display: inline-blox;">
    <div style="width:60px; height: 150px;background-color:grey;"></div><div style="width:60px; height: 151px;background-color:grey; position:absolute;left: 191px;top:10px;;"></div>
    <div style="width: 220px; height: 100px;background-color: grey; display: inline-blox;"><a href="context/">  <button style="position:absolute; left: 90px; top:200px; border:0;background-color:yellow;text-align:center;border-radius:10px;padding: 0 20px;" >Контекст</button></a>
    <a href="kontakt/"><button style="position:absolute; left: 80px; top:220px; border:0;background-color:yellow;text-align:center;border-radius:10px;"> Подробнее о нас</button></a></div>
</div>
</body>
</html>